<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
		<title>Login</title>
	</head>
	<body>
		<div class="container">
			<div class="heading">NexFilm</div>
			<div class="login-container">
				<form action="{{ url_for('login') }}" method="post">
					{{ form.hidden_tag() if form else '' }}
					<label for="username">Username:</label>
					<input type="text" id="username" name="username" required />

					<label for="password">Password:</label>
					<input type="password" id="password" name="password" required />

					<button type="submit">Login</button>
				</form>
				<a class="secondary_button" href="{{ url_for('register') }}">Register</a>
			</div>
		</div>
	</body>
</html>
