{% extends "layout.html" %} {% block body %}
<div class="container">
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Sport</th>
			<th>Action</th>
		</tr>
		{% for registrant in registrants %}
		<tr>
			<td>{{ registrant[0] }}</td>
			<td>{{ registrant[1] }}</td>
			<td>{{ registrant[2] }}</td>
			<td>
				<form action="/remove" method="post">
					<input name="id" type="hidden" value="{{ registrant[0] }}" />
					<button class="remove-button" type="submit">Remove</button>
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
	<a href="/">Back</a>
</div>
{% endblock %}
